html{
    scroll-behavior: smooth;
}
*, ::after,::before {
    -webkit-tap-highlight-color: transparent;
}
body{

    margin: 0px;
    background-color: rgb(240, 240, 240);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
