.header{
    display: flex;
    height: 88px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    background-color: white;
    z-index: 100;

    
}

.left-side {
    width: 560px;
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;


}

.home-button{
    padding: 0 40px 0 40px;
    height: 100%;
    background-color: white;
    display: flex;    
    align-items: center;
    justify-content: center;

}

.atom-logo{
    height: 72px;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    animation: rotate linear 18s infinite forwards;
    animation-play-state: paused;
}

.atom-logo:hover{
    animation-play-state: running;
}

.project-button{
    text-decoration: none;
    background-color: white;
    font-size: 16px;
    font-family: Georgia;
    font-weight: 700;
    color: black;
    padding: 34.5px 0 34.5px 0;


    

}


.research-button{
    border-width: 0px;
    height: 48px;
    width: 100px;
    background-color: white;
    display: inline-block;
    

    font-family: Georgia;
    font-weight: 700;
    font-size: 16px;


}


.home-button:hover, .about-button, 
.project-button, .research-button{
    cursor: pointer;

}


.right-side{

    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;


}



.about-button{
    border-width: 0px;
    height: 48px;
    width: 100px;

    background-color: white;

    font-family: Georgia;
    font-weight: 700;
    font-size: 16px

}

.mobile-bar{
    display: none;
    


    height: 100%;
}


.header label{
    font-size: 50px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    display: none;
}

#menu-bar{
    display: none;
}

.header .mobile-bar ul li{
    position: relative;
    float: left;

}


@media only screen and (max-width: 800px) {
    .header, .left-side{
        height: 80px;
        
    }

    .home-button{
        height: 80px;
        width: 140px;


    }
    .atom-logo{
        height: 56px;
    }

    .right-side{
        display: none;
 
    
    }
    .project-button, .research-button, .about-button{
        display: none;
    
    }
    
    *{
        text-decoration: none;
        box-sizing: border-box;
    }

    .mobile-bar{
        height: 120px;

    }
    .header .mobile-bar{
        text-decoration: none;

        align-items: center;
        justify-content: start;
        padding: 0;
        display: none;
        background-color: white;



    }

    .header .mobile-bar ul{
        list-style: none;
        padding: 0;
        display: block;
        flex: 1;
        




    }

    .header .mobile-bar ul li{
        width: 100%;




    }
    
    li{
        display: flex;
    }

    .header .mobile-bar ul li a{
        flex: 1;
        padding: 11px 10px 11px 10px;
        color: black;
        font-family: Georgia;

        display: block;
        border-top: 1px solid rgba(0,0,0,0.1);
        


    }
    .header label{
        display: initial;

    }

    .header .mobile-bar{
        position: absolute;
        top: 100%;
        width: 100%;
        right: 0;





    }

    #menu-bar:checked ~ .mobile-bar{
        display: flex;

    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
