.header{
    display: flex;
    height: 88px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    background-color: white;
    z-index: 100;
    
}

.left-side{
    width: 560px;
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;




}

.home-button{
    border-width: 0px;
    height: 88px;
    width: 160px;
    background-color: white;
    display: inline;    
    align-items: center;
    justify-content: center;

}

.atom-logo{
    height: 72px;
    justify-content: center;
    align-items: center;
}

.project-button{
    border-width: 0px;
    height: 48px;
    width: 110px;
    background-color: white;
    font-size: 16px;
    display: inline-block;
    font-family: Georgia;
    font-weight: 700;
    



}


.research-button{
    border-width: 0px;
    height: 48px;
    width: 100px;
    background-color: white;
    display: inline-block;
    

    font-family: Georgia;
    font-weight: 700;
    font-size: 16px;


}


.home-button:hover, .about-button, 
.project-button, .research-button{
    cursor: pointer;

}


.right-side{

    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;


}



.about-button{
    border-width: 0px;
    height: 48px;
    width: 100px;

    background-color: white;

    font-family: Georgia;
    font-weight: 700;
    font-size: 16px

}

.mobile-bar{
    display: none;
    align-items: center;


}


.header label{
    font-size: 50px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    display: none;
}

#menu-bar{
    display: none;
}

.header .mobile-bar ul li{
    position: relative;
    float: left;

}


@media only screen and (max-width: 800px) {
    .header, .left-side{
        height: 80px;
        
    }

    .home-button{
        height: 80px;
        width: 140px;


    }
    .atom-logo{
        height: 56px;
    }

    .right-side{
        width: 400px;
        display: none;
 
    
    }
    .project-button, .research-button, .about-button{
        display: none;
    
    }
    
    *{
        text-decoration: none;
        box-sizing: border-box;
    }
    .header .mobile-bar{
        text-decoration: none;
        height: 50%;
        width: 100%;
        justify-content: end;
        padding-right: 10px;
        display: none;


    }

    .header .mobile-bar ul{
        list-style: none;
        padding: 0;



    }
    

    .header .mobile-bar ul li a{
        margin-left: 20px;
        padding: 11px 4px 11px 4px;
        color: black;
        font-family: Georgia;

    }
    .header label{
        display: initial;
    }

    .header .mobile-bar{
        position: absolute;
        top: 100%;

        right: 0;
        border-top: 1px solid rgba(0,0,0,0.1);
        background: white;

    }

    #menu-bar:checked ~ .mobile-bar{
        display: flex;
    }
}